<div class="stats">
  <h3>Total Annotations: <%= locals[:total] %></h3>
  <div class="view-all">[[ view all ]]</div>
  <ul>
    <% locals[:annos].each do |anno| %>
      <li class="anno">
        <a href="/api/<%=anno["uid"]%>"><%= anno["uid"] || "hi" %></a> ||
        <span class="date"><em><%= anno["created_at"] || Time.now %></em></span> ||
        <span class="view">[[ open ]]</span> ||
        <span class="delete" action="/delete" uid="<%=anno["uid"]%>">( X )</span>
        <ul class="info">
          <li><%= anno.inspect %>
        </ul>
      </li>
    <% end %>
  </ul>
